body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #0d1117;
  color: #e6edf3;
}

h1, h2, h3 {
  text-align: center;
}

.container {
  width: 95%;
  max-width: 800px;
  margin: auto;
  padding-top: 20px;
}

.input-box {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 60%;
  background: #161b22;
  border: 1px solid #30363d;
  border-radius: 8px;
  color: white;
}

button {
  padding: 10px 14px;
  background: #238636;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

button:hover {
  background: #2ea043;
}

#nameList {
  list-style: none;
  padding: 0;
  margin: 20px auto;
  width: 70%;
}

#nameList li {
  background: #161b22;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 5px;
  border: 1px solid #30363d;
}

#panelList {
  margin-top: 30px;
}

#peopleButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.person-btn {
  background: linear-gradient(180deg, #151c28, #0e1520);
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.05);
  cursor: pointer;
  transition: 0.2s;
}

.person-btn:hover {
  background: linear-gradient(180deg, #1b2434, #131b28);
}

.panel {
  display: none;
  background: #161b22;
  padding: 20px;
  margin-top: 20px;
  border-radius: 12px;
  border: 1px solid #30363d;
}

.panel.active {
  display: block;
}

.gift-item {
  display: flex;
  gap: 10px;
  background: #0d1117;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #30363d;
  margin-bottom: 10px;
}

.gift-item img {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  object-fit: cover;
}

.hide {
  display: none;
}

/* MOBILE */
@media(max-width: 600px) {
  input {
    width: 100%;
  }
  .gift-item {
    flex-direction: column;
    align-items: center;
  }
  .gift-item img {
    width: 100%;
    height: auto;
  }
}
